@import url('platform:/config/org.gap.eclipse.themes/custom-paper-dark.css');

IEclipsePreferences#org-eclipse-ui-editors:org-eclipse-ui-themes { /* pseudo attribute added to allow contributions without replacing this node, see Bug 466075 */
	preferences:
		'AbstractTextEditor.Color.Background.SystemDefault=false'
		'AbstractTextEditor.Color.SelectionForeground.SystemDefault=false'
		'AbstractTextEditor.Color.SelectionBackground.SystemDefault=false'
		'AbstractTextEditor.Color.Background=41,41,41'
		'AbstractTextEditor.Color.Foreground.SystemDefault=false'
		'AbstractTextEditor.Color.SelectionBackground=33,66,131'
		'AbstractTextEditor.Color.SelectionForeground=147,161,161'
		'AbstractTextEditor.Color.Foreground=131,148,150'
		'AbstractTextEditor.Color.FindScope=30,120,155'
		'asOccurencesIndicationColor=72,72,72'
		'breakpointIndicationColor=51,119,193'
		'currentLineColor=50,50,50'
		'deletionIndicationColor=224,226,228'
		'filteredSearchResultIndicationColor=27,98,145'
		'hyperlinkColor=102,175,249'
		'hyperlinkColor.SystemDefault=false'
		'infoIndicationColor=86,194,170'
		'lineNumberColor=101,123,131'
		'linked.slave.color=66,156,255'
		'matchingTagIndicationColor=72,72,72'
		'occurrenceIndicationColor=27,98,145'
		'overrideIndicatorColor=78,120,117'
		'printMarginColor=101,123,131'
		'searchResultHighlighting=false'
		'searchResultIndication=true'
		'searchResultIndicationColor=94,94,94'
		'searchResultTextStyle=BOX'
		'spellingIndicationColor=253,170,211'
		'writeOccurrenceIndicationColor=27,98,145'
		'currentIPColor=66,19,65'
		'secondaryIPColor=109,31,107'
		'changeIndicationColor=193,125,17'
		'additionIndicationColor=114,159,207'
		'deletionIndicationColor=186,189,182'
}

IEclipsePreferences#org-eclipse-ui-workbench:org-eclipse-ui-themes { /* pseudo attribute added to allow contributions without replacing this node, see Bug 466075 */
	preferences:
		'ACTIVE_HYPERLINK_COLOR=138,201,242'
		'CONFLICTING_COLOR=240,15,66'
		'CONTENT_ASSIST_BACKGROUND_COLOR=52,57,61'
		'CONTENT_ASSIST_FOREGROUND_COLOR=238,238,238'
		'org.eclipse.ui.workbench.HOVER_BACKGROUND=52,57,61'
		'org.eclipse.ui.workbench.HOVER_FOREGROUND=238,238,238'
		'ERROR_COLOR=247,68,117'
		'HYPERLINK_COLOR=111,197,238'
		'INCOMING_COLOR=31,179,235'
		'OUTGOING_COLOR=238,238,238'
		'RESOLVED_COLOR=108,210,17'
		'org.eclipse.search.ui.match.highlight=206,92,0'
}

IEclipsePreferences#org-eclipse-ui-editors:org-eclipse-ui-genericeditor {
  preferences:
        'TextOccurrenceIndicationColor=27,98,145'
}

IEclipsePreferences#org-eclipse-emf-mwe2-language-ui {
	preferences:
		'syntaxColorer.property_ref.color=102,225,248'
		'syntaxColorer.property_ref.style=2' /* SWT.ITALIC */
		'syntaxColorer.feature_ref.color=18,144,195'
		'syntaxColorer.string_prop_ref.color=167,236,33'
		'syntaxColorer.string_prop_ref.style=1' /* SWT.BOLD */
		'syntaxColorer.deprecated_element.color=171,31,54'
		'syntaxColorer.deprecated_element.style=536870912' /* TextAttribute.STRIKETHROUGH */
}

IEclipsePreferences#org-eclipse-mylyn-wikitext-ui {
	preferences:
		'block-h1=font-size: 120%; font-weight: bold; color: #1290c3;'
		'block-h2=font-size: 110%; font-weight: bold; color: #1290c3;'
		'block-h3=font-size: 105%; font-weight: bold; color: #1290c3;'
		'block-h4=font-weight: bold; color: #1290c3;'
		'block-h5=font-size: 90%; font-weight: bold; color: #1290c3;'
		'block-h6=font-size: 80%; font-weight: bold; color: #1290c3;'
}

IEclipsePreferences#org-eclipse-xtext-xtext-ui {
	preferences:
		'syntaxColorer.TypeReference.color=102,225,248'
		'syntaxColorer.TypeReference.style=2' /* SWT.ITALICS */
		'syntaxColorer.RuleDeclaration.color=18,144,195'
		'syntaxColorer.DataTypeIndicator.color=141,218,248'
		'syntaxColorer.UnusedValue.color=128,128,128'
		'syntaxColorer.NeverCalledRule.color=128,128,128'
		'syntaxColorer.SpecialFeature.color=171,48,0'
}

IEclipsePreferences#org-eclipse-wst-css-ui {
	preferences:
		'ATMARK_RULE=#A7EC21 | null | null | null | null | null'
		'ATTRIBUTE_DELIM=#f7c517 | null | false | false | false | false'
		'ATTRIBUTE_NAME=#f7c517 | null | false | false | false | false'
		'ATTRIBUTE_OPERATOR=#f7c517 | null | false | false | false | false'
		'ATTRIBUTE_VALUE=#ff8080 | null | false | false | false | false'
		'CLASS=#12e046 | null | false | false | false | false'
		'COLON=#3198ff | null | false | false | false | false'
		'COMBINATOR=#A7EC21 | null | null | null | null | null'
		'COMMENT=#626262 | null | null | null | null | null'
		'CURLY_BRACE=#F9FAF4 | null | null | null | null | null'
		'ID=#A7EC21 | null | null | null | null | null'
		'MEDIA=#DD2867 | null | null | null | null | null'
		'NORMAL=#D9E8F7 | null | null | null | null | null'
		'PROPERTY_NAME=#0699f0 | null | false | false | false | false'
		'PROPERTY_VALUE=#17C6A3 | null | null | true | null | null'
		'PSEUDO=#fb518c | null | false | false | false | false'
		'SELECTOR=#65f228 | null | false | false | false | false'
		'SEMI_COLON=#D9E8F7 | null | null | null | null | null'
		'STRING=#17C6A3 | null | null | true | null | null'
		'UNIVERSAL=#A7EC21 | null | null | null | null | null'
		'URI=#17C6A3 | null | null | true | null | null'
}

IEclipsePreferences#org-eclipse-ant-ui {
	preferences:
		'org.eclipse.ant.ui.commentsColor=98,98,98'
		'org.eclipse.ant.ui.constantStringsColor=23,198,163'
		'org.eclipse.ant.ui.constantStringsColor_italic=true'
		'org.eclipse.ant.ui.dtdColor=140,210,20'
		'org.eclipse.ant.ui.processingInstructionsColor=221,40,103'
		'org.eclipse.ant.ui.processingInstructionsColor_bold=true'
		'org.eclipse.ant.ui.tagsColor=38,139,210'
		'org.eclipse.ant.ui.tagsColor_bold=true'
		'org.eclipse.ant.ui.textColor=217,232,247'
		'org.eclipse.ant.ui.debugColor=235,235,235'
		'org.eclipse.ant.ui.errorColor=225,30,70'
		'org.eclipse.ant.ui.informationColor=140,175,210'
}

IEclipsePreferences#org-eclipse-xtext-ui {
	preferences:
		'syntaxColorer.keyword.color=221,40,103'
		'syntaxColorer.keyword.style=1' /* SWT.BOLD */
		'syntaxColorer.punctuation.color=217,232,247'
		'syntaxColorer.comment.color=98,98,98'
		'syntaxColorer.task.color=154,140,124'
		'syntaxColorer.task.style=1'  /* SWT.BOLD */
		'syntaxColorer.string.color=41,197,163'
		'syntaxColorer.number.color=104,151,187'
		'syntaxColorer.default.color=217,232,247'
		'syntaxColorer.error.color=179,26,64'
		
		'syntaxColorer.xbase.static.method.invocation.color=150,236,63'
		'syntaxColorer.xbase.static.method.invocation.style=2'  /* SWT.ITALICS */
		'syntaxColorer.xbase.static.field.color=141,218,248'
		'syntaxColorer.xbase.static.field.style=2'  /* SWT.ITALICS */
		'syntaxColorer.xbase.field.color=102,225,248'
		'syntaxColorer.xbase.annotation.color=255,147,147'
		'syntaxColorer.xbase.extension.method.invacation.color=171,48,0'
		'syntaxColorer.xbase.deprecated.members.color=171,31,54'
		'syntaxColorer.xbase.deprecated.members.style=536870912' /* TextAttribute.STRIKETHROUGH */
}

IEclipsePreferences#org-eclipse-pde-ui:org-eclipse-pde-ui {
	preferences:
		'editor.color.default=217,232,247'
		'editor.color.externalized_string=140,210,20'
		'editor.color.externalized_string_italic=true'
		'editor.color.header_assignment=103,207,241'
		'editor.color.header_assignment_bold=true'
		'editor.color.header_attributes=140,210,20'
		'editor.color.header_key=221,40,103'
		'editor.color.header_key_bold=true'
		'editor.color.header_osgi=38,139,210'
		'editor.color.header_value=23,198,163'
		'editor.color.header_value_italic=true'
		'editor.color.instr=221,40,103'
		'editor.color.instr_bold=true'
		'editor.color.string=23,198,163'
		'editor.color.string_italic=true'
		'editor.color.tag=38,139,210'
		'editor.color.tag_bold=true'
		'editor.color.xml_comment=98,98,98'
}

IEclipsePreferences#org-eclipse-xtend-ide {
	preferences:
		'syntaxColorer.xtend.richText.color=23,198,163'
		'syntaxColorer.xtend.richText.bgColor=80,80,80'
/*		'syntaxColorer.xtend.richText.delimiter.color='*/
		'syntaxColorer.xtend.insignificant.template.text.color=23,198,163'
		'syntaxColorer.xtend.potential.line.break.color=23,198,163'
		'syntaxColorer.xtend.template.line.break.color=23,198,163'
		'syntaxColorer.xtend.template.line.bgColor=80,80,80'
		'syntaxColorer.xtend.active.annotation.color=171,48,0'
}

IEclipsePreferences#org-eclipse-php-ui {
    preferences:
        'codeStyleNormal=#D9E8F7 | null | null | null | null | null'
        'editorColorBoundarymaker=#e79c92 | null | true | true | false | false'
        'editorColorComment=#626262 | null | null | null | null | null'
        'editorColorHeredoc=#626262 | null | null | true | null | null'
        'editorColorKeyword=#DD2867 | null | true | false | false | false'
        'editorColorLineComment=#626262 | null | null | null | null | null'
        'editorColorNumber=#6897BB | null | null | null | null | null'
        'editorColorPHPDocComment=#626262 | null | false | false | false | false'
        'editorColorPhpdoc=#9a8c7c | null | true | false | false | false'
        'editorColorString=#17C6A3 | null | null | true | null | null'
        'editorColorVariable=#FFBF26 | null | null | null | null | null'
        'editorColorKeywordPublic=#66cc66 | null | true | false | false | false'
        'editorColorKeywordProtected=#fccd76 | null | true | false | false | false'
        'editorColorKeywordPrivate=#DD2867 | null | true | false | false | false'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.ClassHighlighting.bold=true'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.ClassHighlighting.color=#1290C3'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.ClassHighlighting.enabled=true'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.ConstantHighlighting.color=#8DDAF8'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.DeprecatedHighlighting.color=#AB1F36'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.DeprecatedHighlighting.strikethrough=true'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.DeprecatedHighlighting.underline=false'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.FieldHighlighting.color=#66E1F8'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.FunctionHighlighting.color=#97dd13'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.InternalClassHighlighting.bold=true'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.InternalClassHighlighting.color=#17abea'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.InternalConstantHighlighting.bold=false'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.InternalConstantHighlighting.color=#afe6fa'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.InternalFunctionHighlighting.color=#A7EC21'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.InternalFunctionHighlighting.italic=true'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.MethodHighlighting.color=#1eb540'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.ParameterVariableHighlighting.color=#79abff'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.ParameterVariableHighlighting.underline=false'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.StaticFieldHighlighting.color=#8DDAF8'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.StaticMethodHighlighting.color=#1eb540'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.SuperGlobalHighlighting.color=#FFBF26'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.TaskTagHighlighting.bold=true'
        'semanticHighlighting.org.eclipse.php.internal.ui.editor.highlighters.TaskTagHighlighting.color=#9a8c7c'
}

IEclipsePreferences#org-eclipse-ui-editors:org-eclipse-php-ui {
  preferences: 
        'PHPReadOccurrenceIndicationColor=27,98,145'
        'PHPWriteOccurrenceIndicationColor=27,98,145'
        'overrideIndicatorColorForPHP=78,120,117'
}

IEclipsePreferences#org-eclipse-debug-ui {
	preferences:
		'org.eclipse.debug.ui.MemoryHistoryKnownColor=235,235,235'
		'org.eclipse.debug.ui.MemoryHistoryUnknownColor=170,175,185'
		'org.eclipse.debug.ui.PREF_CHANGED_VALUE_BACKGROUND=150,80,115'
		'org.eclipse.debug.ui.changedDebugElement=255,128,128'
		'org.eclipse.debug.ui.consoleBackground=53,53,53'
		'org.eclipse.debug.ui.errorColor=225,30,70'
		'org.eclipse.debug.ui.inColor=140,175,210'
		'org.eclipse.debug.ui.outColor=235,235,235'
}

IEclipsePreferences#org-eclipse-cdt-ui {
	preferences:
		"asm_directive=221,40,103"
		"asm_label=217,232,247"
		"c_braces=249,250,244"
		"c_comment_task_tag=154,140,124"
		"c_default=217,232,247"
		"c_keyword=221,40,103"
		"c_multi_line_comment=98,98,98"
		"c_numbers=104,151,187"
		"c_operators=230,230,250"
		"c_single_line_comment=98,98,98"
		"c_string=23,198,163"
		"c_type=221,40,103"
		"org.eclipse.cdt.internal.ui.text.doctools.multi=98,98,98"
		"org.eclipse.cdt.internal.ui.text.doctools.recognizedTag=30,120,155"
		"org.eclipse.cdt.internal.ui.text.doctools.single=98,98,98"
		"pp_default=217,232,247"
		"pp_directive=221,40,103"
		"pp_header=23,198,163"
		"semanticHighlighting.class.color=18,144,195"
		"semanticHighlighting.class.enabled=true"
		"semanticHighlighting.class.bold=true"
		"semanticHighlighting.enum.color=204,129,186"
		"semanticHighlighting.enum.enabled=true"
		"semanticHighlighting.enum.italic=true"
		"semanticHighlighting.enumerator.color=141,218,248"
		"semanticHighlighting.enumerator.enabled=true"
		"semanticHighlighting.externalSDK.color=150,236,63"
		"semanticHighlighting.externalSDK.enabled=true"
		"semanticHighlighting.field.color=102,225,248"
		"semanticHighlighting.field.enabled=true"
		"semanticHighlighting.function.color=167,236,33"
		"semanticHighlighting.function.enabled=true"
		"semanticHighlighting.functionDeclaration.color=13,209,64"
		"semanticHighlighting.functionDeclaration.enabled=true"
		"semanticHighlighting.functionDeclaration.bold=true"
		"semanticHighlighting.localVariable.color=255,191,38"
		"semanticHighlighting.localVariable.enabled=true"
		"semanticHighlighting.localVariableDeclaration.color=237,127,72"
		"semanticHighlighting.localVariableDeclaration.enabled=true"
		"semanticHighlighting.macroDefinition.color=13,209,64"
		"semanticHighlighting.macroDefinition.enabled=true"
		"semanticHighlighting.macroDefinition.bold=true"
		"semanticHighlighting.method.color=167,236,33"
		"semanticHighlighting.method.enabled=true"
		"semanticHighlighting.methodDeclaration.color=13,209,64"
		"semanticHighlighting.methodDeclaration.enabled=true"
		"semanticHighlighting.methodDeclaration.bold=true"
		"semanticHighlighting.namespace.color=128,242,246"
		"semanticHighlighting.namespace.enabled=true"
		"semanticHighlighting.parameterVariable.color=121,171,255"
		"semanticHighlighting.parameterVariable.enabled=true"
		"semanticHighlighting.staticField.color=141,218,248"
		"semanticHighlighting.staticField.enabled=true"
		"semanticHighlighting.staticMethod.color=150,236,63"
		"semanticHighlighting.staticMethod.enabled=true"
		"semanticHighlighting.typedef.color=18,144,195"
		"semanticHighlighting.typedef.enabled=true"
		"semanticHighlighting.typedef.bold=true"
		"semanticHighlighting.typeParameter.color=191,164,164"
		"semanticHighlighting.typeParameter.enabled=true"		
}

IEclipsePreferences#org-eclipse-ui-workbench {
		preferences:
			'org.eclipse.egit.ui.DiffAddBackgroundColor=11,121,90'
			'org.eclipse.egit.ui.DiffAddForegroundColor=216,254,245'
			'org.eclipse.egit.ui.DiffHeadlineBackgroundColor=71,71,71'
			'org.eclipse.egit.ui.DiffHeadlineForegroundColor=242,242,242'
			'org.eclipse.egit.ui.DiffHunkBackgroundColor=53,97,113'
			'org.eclipse.egit.ui.DiffHunkForegroundColor=233,242,254'
			'org.eclipse.egit.ui.DiffRemoveBackgroundColor=117,2,36'
			'org.eclipse.egit.ui.DiffRemoveForegroundColor=255,232,237'
			'org.eclipse.egit.ui.IgnoredResourceBackgroundColor=42,42,42'
			'org.eclipse.egit.ui.IgnoredResourceForegroundColor=120,120,120'
			'org.eclipse.egit.ui.UncommittedChangeBackgroundColor=42,42,42'
			'org.eclipse.egit.ui.UncommittedChangeForegroundColor=114,157,186'
}

IEclipsePreferences#org-eclipse-jdt-ui:org-eclipse-jdt-ui { /* pseudo attribute added to allow contributions without replacing this node, see Bug 466075 */
	preferences:
		'content_assist_completion_replacement_background=200,200,0'
		'content_assist_completion_replacement_foreground=200,0,0'
		'content_assist_parameters_background=52,57,61'
		'content_assist_parameters_foreground=238,238,238'
		'content_assist_proposals_background=52,57,61'
		'content_assist_proposals_foreground=238,238,238'
		'java_bracket=249,250,244'
		'java_comment_task_tag=154,140,124'
		'java_default=217,232,247'
		'java_doc_default=128,128,128'
		'java_doc_keyword=154,140,124'
		'java_doc_link=169,156,140'
		'java_doc_tag=30,120,155'
		'java_keyword=204,108,29'
		'java_keyword_bold=false'
		'java_keyword_return=204,108,29'
		'java_keyword_return_bold=false'
		'java_multi_line_comment=128,128,128'
		'java_operator=230,230,250'
		'java_single_line_comment=128,128,128'
		'java_string=23,198,163'
		'matchingBracketsColor=102,112,125'
		'pf_coloring_argument=221,40,103'
		'pf_coloring_assignment=217,232,247'
		'pf_coloring_comment=128,128,128'
		'pf_coloring_key=217,232,247'
		'pf_coloring_value=23,198,163'
		'semanticHighlighting.abstractClass.color=62,171,230'
		'semanticHighlighting.abstractClass.enabled=true'
		'semanticHighlighting.abstractMethodInvocation.color=128,246,167'
		'semanticHighlighting.abstractMethodInvocation.enabled=true'
		'semanticHighlighting.annotation.color=160,160,160'
		'semanticHighlighting.annotation.enabled=true'
		'semanticHighlighting.annotation.italic=true'
		'semanticHighlighting.annotationElementReference.color=235,75,100'
		'semanticHighlighting.annotationElementReference.enabled=true'
		'semanticHighlighting.class.color=18,144,195'
		'semanticHighlighting.class.enabled=true'
		'semanticHighlighting.deprecatedMember.color=171,31,54'
		'semanticHighlighting.deprecatedMember.enabled=true'
		'semanticHighlighting.deprecatedMember.underline=false'
		'semanticHighlighting.deprecatedMember.strikethrough=true'
		'semanticHighlighting.enum.color=204,129,186'
		'semanticHighlighting.enum.enabled=true'
		'semanticHighlighting.enum.italic=true'
		'semanticHighlighting.field.color=102,225,248'
		'semanticHighlighting.field.enabled=true'
		'semanticHighlighting.inheritedMethodInvocation.color=205,246,104'
		'semanticHighlighting.inheritedMethodInvocation.enabled=true'
		'semanticHighlighting.interface.color=128,242,246'
		'semanticHighlighting.interface.enabled=true'
		'semanticHighlighting.localVariable.color=243,236,121'
		'semanticHighlighting.localVariable.enabled=true'
		'semanticHighlighting.localVariableDeclaration.color=242,242,0'
		'semanticHighlighting.localVariableDeclaration.enabled=true'
		'semanticHighlighting.localVariableDeclaration.bold=false'
		'semanticHighlighting.method.color=167,236,33'
		'semanticHighlighting.method.enabled=true'
		'semanticHighlighting.methodDeclarationName.color=30,181,64'
		'semanticHighlighting.methodDeclarationName.enabled=true'
		'semanticHighlighting.methodDeclarationName.bold=false'
		'semanticHighlighting.number.color=104,151,187'
		'semanticHighlighting.number.enabled=true'
		'semanticHighlighting.parameterVariable.color=121,171,255'
		'semanticHighlighting.parameterVariable.enabled=true'
		'semanticHighlighting.staticField.color=141,218,248'
		'semanticHighlighting.staticField.enabled=true'
		'semanticHighlighting.staticFinalField.color=141,218,248'
		'semanticHighlighting.staticFinalField.enabled=true'
		'semanticHighlighting.staticMethodInvocation.color=150,236,63'
		'semanticHighlighting.staticMethodInvocation.enabled=true'
		'semanticHighlighting.typeArgument.color=177,102,218'
		'semanticHighlighting.typeArgument.enabled=true'
		'semanticHighlighting.typeParameter.color=191,164,164'
		'semanticHighlighting.typeParameter.enabled=true'
		'semanticHighlighting.typeParameter.bold=false'
		'sourceHoverBackgroundColor=68,68,68'
}

IEclipsePreferences#org-eclipse-wst-xml-ui {
	preferences:
	'cdataBorder=#A7EC21 | null | false | false | false | false'
	'cdataText=#93bde8 | null | false | false | false | false'
	'commentBorder=#626262 | null | false | false | false | false'
	'commentText=#626262 | null | false | false | false | false'
	'declBorder=#A7EC21 | null | false | false | false | false'
	'doctypeExternalId=#cf96eb | null | false | false | false | false'
	'doctypeExternalPubref=#f0a253 | null | false | false | false | false'
	'doctypeExtrenalSysref=#fbd153 | null | false | false | false | false'
	'doctypeName=#A7EC21 | null | false | false | false | false'
	'entityReference=#DD2867 | null | false | false | false | false'
	'piBorder=#0394be | null | false | false | false | false'
	'piContent=#D9E8F7 | null | false | false | false | false'
	'tagAttributeEquals=#52ca11 | null | false | false | false | false'
	'tagAttributeName=#a7ec21 | null | false | false | false | false'
	'tagAttributeValue=#17C6A3 | null | false | true | false | false'
	'tagBorder=#0080ff | null | false | false | false | false'
	'tagName=#03a8d8 | null | true | false | false | false'
	'xmlContent=#D9E8F7 | null | false | false | false | false'
}

IEclipsePreferences#org-eclipse-wst-html-ui {
	preferences:
		'commentBorder=#626262 | null | false | false | false | false'
		'commentText=#626262 | null | false | false | false | false'
		'declBoder=#A7EC21 | null | false | false | false | false'
		'doctypeExternalId=#cf96eb | null | false | false | false | false'
		'doctypeExternalPubref=#f0a253 | null | false | false | false | false'
		'doctypeExtrenalSysref=#fbd153 | null | false | false | false | false'
		'doctypeName=#fea88f | null | false | false | false | false'
		'entityReference=#DD2867 | null | null | null | null | null'
		'tagAttributeEquals=#52ca11 | null | false | false | false | false'
		'tagAttributeName=#a7ec21 | null | false | false | false | false'
		'tagAttributeValue=#17C6A3 | null | null | true | null | null'
		'tagBorder=#0080ff | null | false | false | false | false'
		'tagName=#03a8d8 | null | true | false | false | false'
		'xmlContent=#D9E8F7 | null | null | null | null | null'
}

IEclipsePreferences#org-eclipse-jst-jsp-ui {
	preferences:
		'SCRIPT_AREA_BORDER=#fbd153 | null | false | false | false | false'
		'tagAttributeEquals=#52ca11 | null | false | false | false | false'
		'tagAttributeName=#a7ec21 | null | false | false | false | false'
		'tagAttributeValue=#17c6a3 | null | false | false | false | false'
		'tagName=#03a8d8 | null | true | false | false | false'
		'tagBorder=#0080ff | null | false | false | false | false'
}

IEclipsePreferences#org-eclipse-wst-json-ui {
	preferences:
	'COLON=#FFFFFF | null | false | false | false | false'
	'COMMA=#FFFFFF | null | false | false | false | false'
	'CURLY_BRACE=#FFFFFF | null | false | false | false | false'
	'OBJECT_KEY=#BED6FF | null | false | false | false | false'
	'VALUE_BOOLEAN=#03A8D8 | null | false | false | false | false'
	'VALUE_NULL=#969696 | null | false | false | false | false'	
	'VALUE_NUMBER=#D25242 | null | false | false | false | false'
	'VALUE_STRING=#FFC600 | null | true | true | false | false'
}

IEclipsePreferences#org-eclipse-ui-editors:org-eclipse-ui-genericeditor {
  preferences:
        'TextOccurrenceIndicationColor=27,98,145'
}

IEclipsePreferences#com-reprezen-swagedit {
    preferences:
        'colorAliasPreferences=154,140,124'
        'colorAnchorPreferences=154,140,124'
        'colorCommentPreference=140,140,140'
        'colorConstantPreferences=23,198,163'
        'colorDefaultPreference=217,232,247'
        'colorDocumentPreference=217,232,247'
        'colorKeyPreference=221,40,103'
        'colorScalarPreference=217,232,247'
        'colorTagPropertyPreferences=38,139,210'
}

IEclipsePreferences#com-reprezen-swagedit-openapi3 {
    preferences:
        'colorAliasPreferences=154,140,124'
        'colorAnchorPreferences=154,140,124'
        'colorCommentPreference=140,140,140'
        'colorConstantPreferences=23,198,163'
        'colorDefaultPreference=217,232,247'
        'colorDocumentPreference=217,232,247'
        'colorKeyPreference=221,40,103'
        'colorScalarPreference=217,232,247'
        'colorTagPropertyPreferences=38,139,210'
}

IEclipsePreferences#org-eclipse-wst-sse-ui {
	preferences:
		'content_assist_completion_replacement_background=200,200,0'
		'content_assist_completion_replacement_foreground=200,0,0'
		'content_assist_parameters_background=52,57,61'
		'content_assist_parameters_foreground=238,238,238'
		'content_assist_proposals_background=52,57,61'
		'content_assist_proposals_foreground=238,238,238'
}

IEclipsePreferences#org-eclipse-wst-xsl-ui {
	preferences:
		'xsltagAttributeName=#c802cd | null | true | false | false | false'
		'xsltagAttributeValue=#5b3fe6 | null | false | true | false | false'
}
