CTabFolder {
    swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
    swt-selected-tab-fill: '#org-gap-eclipse-themes-TAB_SELECTED_COLOR';
    swt-unselected-tabs-color: '#org-gap-eclipse-themes-CONTROL_BG_COLOR';
    swt-selected-tab-highlight: '#org-gap-eclipse-themes-CONTROL_BG_COLOR';
    swt-tab-outline:'#org-gap-eclipse-themes-CONTROL_BG_COLOR';
    swt-selected-tab-highlight: '#org-gap-eclipse-themes-TAB_SELECTED_COLOR';
    swt-selected-highlight-top: false;
    swt-outer-keyline-color: '#org-gap-eclipse-themes-CONTROL_BG_COLOR';
    swt-unselected-hot-tab-color-background: '#org-gap-eclipse-themes-CONTROL_BG_COLOR';
    color: '#org-gap-eclipse-themes-TAB_UNSELECTED_TEXT_COLOR';
}

CTabFolder CTabItem,
CTabFolder CTabItem CLabel {
    background-color: '#org-gap-eclipse-themes-TAB_UNSELECTED_COLOR';
}

CTabFolder CTabItem:selected {
    color: '#org-gap-eclipse-themes-TAB_SELECTED_TEXT_COLOR';
}


CTabFolder.MPartStack,
.MPartStack CTabFolder[style~='SWT.DOWN'][style~='SWT.BOTTOM'],
.MPart.View CTabFolder[style~='SWT.TOP'] {
    font-family: '#org-gap-eclipse-themes-VIEW_TITLE_FONT_NORMAL';
    swt-tab-height: 24px;
}