ThemesExtension { 
    font-definition:
        '#org-gap-eclipse-themes-VIEW_TITLE_FONT_SMALL',
        '#org-gap-eclipse-themes-VIEW_TITLE_FONT_NORMAL',
        '#org-gap-eclipse-themes-STATUS_FONT',
        '#org-gap-eclipse-themes-SOUREC_EDITOR_FONT',
        '#org-gap-eclipse-themes-CONSOLE_FONT';
    color-definition:
        '#org-gap-eclipse-themes-PRIMARY_VIEW_BG_COLOR';
}

ColorDefinition#org-eclipse-ui-workbench-ACTIVE_TAB_TEXT_COLOR {
    color: #101010;
}
ColorDefinition#org-eclipse-ui-workbench-INACTIVE_TAB_TEXT_COLOR {
    color: #101010;
}
ColorDefinition#org-eclipse-ui-workbench-ACTIVE_TAB_SELECTED_TEXT_COLOR {
    color: #101010;
}
ColorDefinition#org-gap-eclipse-themes-PRIMARY_VIEW_BG_COLOR {
    color: #f3f3f3;
}

FontDefinition#org-eclipse-jface-textfont,
FontDefinition#org-eclipse-ui-workbench-texteditor-blockSelectionModeFont,
FontDefinition#org-eclipse-jdt-ui-editors-textfont,
FontDefinition#org-eclipse-egit-ui-CommitMessageEditorFont,
FontDefinition#org-eclipse-compare-contentmergeviewer-TextMergeViewer {
    font: '#org-gap-eclipse-themes-SOUREC_EDITOR_FONT';
}

FontDefinition#org-eclipse-debug-ui-consoleFont {
    font: '#org-gap-eclipse-themes-CONSOLE_FONT';
}

ToolBar {
    background-color:inherit;	
}

Shell Tree, Shell Table, Shell List {
    background-color: #ffffff;
}

Shell[style~='SWT.ON_TOP'] Composite {
    background-color: inherit;
}

.MPartSashContainer,
.MTrimmedWindow {
    background-color: '#org-gap-eclipse-themes-PRIMARY_VIEW_BG_COLOR';
}

.MPart StyledText {
    background-color: #ffffff;
}

.MPartStack#left *,
.MPartStack.active#left * {
    background-color: '#org-gap-eclipse-themes-PRIMARY_VIEW_BG_COLOR';
}

.MPartStack#left,
.MPartStack.active#left {
    swt-selected-tab-fill: '#org-gap-eclipse-themes-PRIMARY_VIEW_BG_COLOR';
    swt-unselected-tabs-color: '#org-gap-eclipse-themes-PRIMARY_VIEW_BG_COLOR';
    swt-selected-tab-highlight: '#org-gap-eclipse-themes-PRIMARY_VIEW_BG_COLOR';
    swt-tab-outline:'#org-gap-eclipse-themes-PRIMARY_VIEW_BG_COLOR';
    swt-selected-tab-highlight:#414241;
    swt-selected-highlight-top: false;
    swt-outer-keyline-color: '#org-gap-eclipse-themes-PRIMARY_VIEW_BG_COLOR';
    swt-unselected-hot-tab-color-background: '#org-gap-eclipse-themes-PRIMARY_VIEW_BG_COLOR';
}

.MPartStack#right,
.MPartStack.active#right,
.MPartStack#bottom,
.MPartStack.active#bottom,
.MPartStack.noFocus,
.MPartStack.noFocus.active,
.MPartStack,
.MPartStack.active,
#org-eclipse-debug-internal-ui-OutlineFolderView.MPartStack,
#org-eclipse-debug-internal-ui-ToolsFolderView.MPartStack,
#org-eclipse-debug-internal-ui-NavigatorFolderView.MPartStack {
    swt-tab-outline: #ffffff;
    swt-unselected-tabs-color: #ffffff #ffffff 100% 100%; 
    swt-selected-tab-fill: #ffffff;
    swt-shadow-visible: false;
    swt-selected-tab-highlight: #ffffff;
    swt-tab-outline: #ffffff;
    swt-selected-tab-highlight:#414241;
    swt-selected-highlight-top: false;
    swt-outer-keyline-color: '#org-gap-eclipse-themes-PRIMARY_VIEW_BG_COLOR';
    swt-unselected-hot-tab-color-background: '#org-gap-eclipse-themes-PRIMARY_VIEW_BG_COLOR';
}

.MPart SashForm,
.MPart Section {
    background-color-titlebar: #ffffff;
    background-color-gradient-titlebar: #ffffff;
    background-color: #ffffff;
}

CTabFolder.EditorStack.MPartStack,
CTabFolder.EditorStack.MPartStack.active {
    swt-selected-tab-fill: #ffffff;
    swt-unselected-tabs-color: #f3f3f3;
    swt-selected-tab-highlight:#ffffff;
    swt-tab-outline: #ffffff;
    swt-selected-highlight: #ffffff;
    swt-unselected-hot-tab-color-background: #f3f3f3;
    swt-outer-keyline-color: #f3f3f3;
}

#org-eclipse-e4-ui-compatibility-editor CTabFolder[style~='SWT.DOWN'][style~='SWT.BOTTOM'],
#org-eclipse-e4-ui-compatibility-editor CTabFolder[style~='SWT.DOWN'][style~='SWT.BOTTOM'] {
    swt-selected-tab-fill: #ffffff;
    swt-unselected-tabs-color: #ffffff;
    swt-selected-tab-highlight:#ffffff;
    swt-tab-outline: #ffffff;
    swt-selected-highlight: #ffffff;
    swt-unselected-hot-tab-color-background: #ffffff;
    swt-outer-keyline-color: #fffffe; /* hack to remove the diagonal line when tabs run out of space */
    swt-selected-tab-highlight:#414241;
    background-color: #ffffff;
}

.MPart.View CTabFolder[style~='SWT.TOP'] {
    swt-selected-tab-fill: #ffffff;
    swt-unselected-tabs-color: #ffffff;
    swt-selected-tab-highlight:#ffffff;
    swt-tab-outline: #ffffff;
    swt-selected-highlight: #ffffff;
    swt-unselected-hot-tab-color-background: #ffffff;
    swt-outer-keyline-color: #ffffff;
    swt-selected-tab-highlight:#414241;
    background-color: #ffffff;
    swt-selected-highlight-top: false;
}


#org-eclipse-e4-ui-compatibility-editor CTabItem CLabel, 
#org-eclipse-e4-ui-compatibility-editor CTabItem {
    background-color: inherit;
}

.MPartStack Form,
.MPartStack Form CLabel,
.MPartStack Form Section  {
    background-color: #ffffff;
    text-background-color: #ffffff;
    border-color-titlebar: #ffffff;
    h-bottom-keyline-1-color: #ffffff;
    h-bottom-keyline-2-color: #f3f3f3;
}

CTabFolder.EditorStack.MPartStack,
CTabFolder.EditorStack.MPartStack Canvas,
CTabFolder.EditorStack.MPartStack Composite {
    background-color: #ffffff;
}

CTabFolder.EditorStack.MPartStack CTabItem,
CTabFolder.EditorStack.MPartStack CTabItem CLabel {
    background-color: #f3f3f3;
}


.MPartStack CTabItem,
.MPartStack CTabItem CLabel {
    background-color: #ffffff;
}

CTabFolder.MArea CTabItem, 
CTabFolder.MArea CTabItem CLabel {
    background-color: #ffffff;  
}

#org-eclipse-ui-trim-status.MTrimBar * {
    background-color: inherit;
    color: #ffffff;
    font: '#org-gap-eclipse-themes-STATUS_FONT';
}

#org-eclipse-ui-trim-status.MTrimBar {
    background-color: #0074c2;
}

#org-eclipse-ui-trim-vertical1.MTrimBar {
    background-color: #2c2c2c;
}

#org-eclipse-tm-terminal-view-ui-TerminalsView CTabFolder {
    font: '#org-gap-eclipse-themes-VIEW_TITLE_FONT_SMALL';
}

IEclipsePreferences#org-eclipse-ui-workbench:org-gap-eclipse-themes {
  preferences:
    'ERROR_COLOR=199,46,15'
    'org.eclipse.ui.workbench.INFORMATION_BACKGROUND=243,243,243'
}

IEclipsePreferences#org-eclipse-ui-editors:org-gap-eclipse-themes {
  preferences:
    'AbstractTextEditor.Color.Background.SystemDefault=false'
    'AbstractTextEditor.Color.SelectionBackground.SystemDefault=false'
    'AbstractTextEditor.Color.SelectionForeground.SystemDefault=false'
    'AbstractTextEditor.Color.SelectionForeground=0,0,0'
    'AbstractTextEditor.Color.Background=255,255,255'
    'AbstractTextEditor.Color.SelectionBackground=179,215,255'
    'searchResultIndication=true'
    'searchResultHighlighting=false'
    'searchResultTextStyle=DASHED_BOX';
}

IEclipsePreferences#org-eclipse-jdt-ui:org-gap-eclipse-themes {
  preferences:
    'java_default=38,127,153'
    'java_comment_task_tag=21,139,21'
    'java_comment_task_tag_bold=false'
    'java_doc_default=21,139,21'
    'java_doc_keyword=0,0,255'
    'java_doc_keyword_bold=false'
    'java_doc_link=121,94,38'
    'java_keyword=0,0,255'
    'java_keyword_bold=false'
    'java_keyword_return=175,0,219'
    'java_keyword_return_bold=false'
    'java_multi_line_comment=21,139,21'
    'java_operator=9,134,88'
    'java_single_line_comment=21,139,21'
    'java_string=163,21,21'
    'semanticHighlighting.abstractClass.color=38,127,153'
    'semanticHighlighting.class.color=38,127,153'
    'semanticHighlighting.class.enabled=true'
    'semanticHighlighting.enum.color=38,127,153'
    'semanticHighlighting.enum.enabled=true'
    'semanticHighlighting.interface.color=38,127,153'
    'semanticHighlighting.interface.enabled=true'
    'semanticHighlighting.localVariable.color=0,16,128'
    'semanticHighlighting.localVariableDeclaration.bold=false'
    'semanticHighlighting.localVariableDeclaration.color=0,16,128'
    'semanticHighlighting.localVariableDeclaration.enabled=true'
    'semanticHighlighting.method.color=121,94,38'
    'semanticHighlighting.method.enabled=true'
    'semanticHighlighting.methodDeclarationName.bold=false'
    'semanticHighlighting.methodDeclarationName.color=121,94,38'
    'semanticHighlighting.methodDeclarationName.enabled=true'
    'semanticHighlighting.number.color=9,134,88'
    'semanticHighlighting.number.enabled=true'
    'semanticHighlighting.parameterVariable.color=0,16,128'
    'semanticHighlighting.parameterVariable.enabled=true'
    'semanticHighlighting.restrictedKeywords.bold=false'
    'semanticHighlighting.restrictedKeywords.color=175,0,219'
    'semanticHighlighting.staticFinalField.bold=false'
    'semanticHighlighting.staticFinalField.italic=false'
    'semanticHighlighting.staticFinalField.color=0,112,193'
    'semanticHighlighting.staticMethodInvocation.color=121,94,38';
}

