@import url('platform:/config/org.gap.eclipse.themes/custom-dark.css');

/* Non-Eclipse Preferences */
IEclipsePreferences#com-reprezen-swagedit {
    preferences:
        'colorAliasPreferences=154,140,124'
        'colorAnchorPreferences=154,140,124'
        'colorCommentPreference=140,140,140'
        'colorConstantPreferences=23,198,163'
        'colorDefaultPreference=217,232,247'
        'colorDocumentPreference=217,232,247'
        'colorKeyPreference=221,40,103'
        'colorScalarPreference=217,232,247'
        'colorTagPropertyPreferences=38,139,210'
}

IEclipsePreferences#com-reprezen-swagedit-openapi3 {
    preferences:
        'colorAliasPreferences=154,140,124'
        'colorAnchorPreferences=154,140,124'
        'colorCommentPreference=140,140,140'
        'colorConstantPreferences=23,198,163'
        'colorDefaultPreference=217,232,247'
        'colorDocumentPreference=217,232,247'
        'colorKeyPreference=221,40,103'
        'colorScalarPreference=217,232,247'
        'colorTagPropertyPreferences=38,139,210'
}

IEclipsePreferences#org-dadacoalition-yedit {
	preferences:
		'colorAliasPreferences=18,144,195'
		'colorAnchorPreferences=18,144,195'
		'colorCommentPreference=128,128,128'
		'colorConstantPreferences=23,198,163'
		'colorDefaultPreference=211,215,207'
		'colorDocumentPreference=211,215,207'
		'colorKeyPreference=204,108,29'
		'colorScalarPreference=211,215,207'
		'colorTagPropertyPreferences=18,144,195'
}

IEclipsePreferences#com-reprezen-swagedit-openapi3 {
	preferences:
		'colorAliasPreferences=18,144,195'
		'colorAnchorPreferences=18,144,195'
		'colorCommentPreference=128,128,128'
		'colorConstantPreferences=23,198,163'
		'colorDefaultPreference=211,215,207'
		'colorDocumentPreference=211,215,207'
		'colorKeyPreference=204,108,29'
		'colorScalarPreference=211,215,207'
		'colorTagPropertyPreferences=18,144,195'
}

IEclipsePreferences#com-reprezen-swagedit {
	preferences:
		'colorAliasPreferences=18,144,195'
		'colorAnchorPreferences=18,144,195'
		'colorCommentPreference=128,128,128'
		'colorConstantPreferences=23,198,163'
		'colorDefaultPreference=211,215,207'
		'colorDocumentPreference=211,215,207'
		'colorKeyPreference=204,108,29'
		'colorScalarPreference=211,215,207'
		'colorTagPropertyPreferences=18,144,195'
}

IEclipsePreferences#org-codehaus-groovy-eclipse-ui {
	preferences: 
		'groovy.editor.highlight.assert.color=204,108,29'
		'groovy.editor.highlight.assert.color_bold=false'
		'groovy.editor.highlight.javakeywords.color=204,108,29'
		'groovy.editor.highlight.javakeywords.color_bold=false'
		'groovy.editor.highlight.javatypes.color=204,108,29'
		'groovy.editor.highlight.javatypes.color_bold=false'
		'groovy.editor.highlight.return.color=204,108,29'
		'groovy.editor.highlight.return.color_bold=false'
}

IEclipsePreferences#de-jcup-jenkinseditor-plugin {
	preferences: 
		'colorAnnotations=97,97,97'
		'colorGStrings=255,128,64'
		'colorGroovyDoc=0,128,192'
		'colorGroovyKeywords=0,128,0'
		'colorJavaKeywords=0,128,0'
		'colorJavaLiteralKeywords=255,0,128'
		'colorJenkinsKeywords=0,128,0'
		'colorJenkinsVariables=97,97,97' 
		'colorNormalStrings=128,128,128'
		'colorNormalText=192,192,192'
		
}
