.MTrimmedWindow {
	background-color: #FFFFFF;
}

.MPartStack {
	swt-simple: false;
	swt-mru-visible: false;
}

.MTrimBar {
	background-color: #FFFFFF;
}

.MTrimBar#org-eclipse-ui-main-toolbar  {
	background-color: #FFFFFF;
}

.MToolControl.TrimStack {
    frame-image:  url('./vsFrame.png');
    handle-image:  url('./dragHandle.png');
    frame-cuts: 0px 0px 6px 16px;
}

#PerspectiveSwitcher {
	background-color: #FFFFFF;
	eclipse-perspective-keyline-color: #E0E0E0;
}

.MPartSashContainer {
	background-color: #FFFFFF;
}

/*
swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');    swt-selected-tab-fill: #FFFFFF #FFFFFF 100% 100%;
*/
.MPartStack {
	swt-tab-renderer: url('bundleclass://org.gap.eclipse.themes/org.gap.eclipse.themes.Renderer');
	swt-selected-tab-fill: #FFFFFF #FFFFFF 100% 100%;
	swt-unselected-tabs-color: #FFFFFF;
	swt-outer-keyline-color: #FFFFFF;
	swt-inner-keyline-color: #FFFFFF;
	swt-tab-outline: #FFFFFF;
    background-color: #FFFFFF;
	padding: 0px;
	swt-shadow-visible: false;
	swt-mru-visible: false;
	color: #000000;
	swt-simple: true;
	swt-corner-radius: 6;
    swt-tab-height: 28px;
}

.MPartStack.active {
	swt-selected-tab-fill: #FFFFFF;
	swt-tab-outline: #FFFFFF;
    background-color: #FFFFFF;
	swt-outer-keyline-color: #FFFFFF;
	swt-inner-keyline-color: #FFFFFF;
}

/* Fix side by side tab folder */
#org-eclipse-ui-editorss {
	/*swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');*/
    swt-selected-tab-fill: #FFFFFF;
	swt-unselected-tabs-color: #FFFFFF;
	swt-outer-keyline-color: #FFFFFF;
	swt-inner-keyline-color: #FFFFFF;
	swt-tab-outline: #FFFFFF;
   	background-color: #FFFFFF;
	padding: 0px;
	swt-shadow-visible: false;
	swt-mru-visible: false;
	color: #000000;
	swt-simple: false;
	swt-corner-radius: 6;
   	swt-tab-height: 28px;
}

CTabItem:selected {
	color: #000000;
}

CTabFolder Canvas {
	background-color: #FFFFFF;
}

Form, FormHeading {
	background-color: #ffffff;
	background: #ffffff;
	background-image: #ffffff;
	color: #505050;
}

Form {
	/* Bug 465148: Additional styling for the Form */
	text-background-color: #ffffff;

	tb-toggle-hover-color: #505050;
	tb-toggle-color: #505050;
	h-hover-full-color: #505050;
	h-hover-light-color: #505050;
	h-bottom-keyline-2-color: #eaeaea;
	h-bottom-keyline-1-color: #eaeaea;

}

Section {
	background-color: #ffffff;
  	color: #505050;
  	background-color-titlebar: #eaeaea;
  	background-color-gradient-titlebar: #eaeaea;
  	border-color-titlebar: #ffffff;
}

