<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="presentation-mode-ui.category"
            name="Presentation Mode">
      </category>
      <command
            categoryId="presentation-mode-ui.category"
            defaultHandler="org.gap.eclipse.themes.pm.commands.TogglePMHandler"
            id="presentation-mode-ui.toggle-mode"
            name="Toggle Mode">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState"
               id="org.eclipse.ui.commands.toggleState">
            <class
                  class="org.eclipse.ui.handlers.RegistryToggleState">
               <parameter
                     name="persisted"
                     value="true">
               </parameter>
               <parameter
                     name="default"
                     value="false">
               </parameter>
            </class>
         </state>
      </command>
      <command
            categoryId="presentation-mode-ui.category"
            defaultHandler="org.gap.eclipse.themes.pm.commands.ToggleMenuHandler"
            id="presentation-mode-ui.toggle-menu"
            name="Toggle Menu">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState"
               id="org.eclipse.ui.commands.toggleState">
            <class
                  class="org.eclipse.ui.handlers.RegistryToggleState">
               <parameter
                     name="persisted"
                     value="true">
               </parameter>
               <parameter
                     name="default"
                     value="false">
               </parameter>
            </class>
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="presentation-mode-ui.toolbar"
               label="Presentation Mode">
            <command
                  commandId="presentation-mode-ui.toggle-mode"
                  icon="icons/pm-toggle.png"
                  id="presentation-mode-ui.toggle-mode"
                  style="toggle">
            </command>
            <command
                  commandId="presentation-mode-ui.toggle-menu"
                  icon="icons/menu-toggle.png"
                  id="presentation-mode-ui.toggle-menu"
                  style="toggle">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Views"
            class="org.gap.eclipse.themes.pm.pref.PreferencePage"
            id="org.gap.eclipse.themes.pm.preferencePage"
            name="Presentation Mode">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.gap.eclipse.themes.pm.pref.DefaultPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.gap.eclipse.themes.pm.PluginStartup">
      </startup>
   </extension>

</plugin>
