@import url('platform:/config/org.gap.eclipse.themes/custom-dark.css');

IEclipsePreferences#org-eclipse-jdt-ui {
  preferences:
    'content_assist_proposals_background=252,252,252'
    'content_assist_proposals_foreground=49,54,59'
	'java_bracket=206,209,209'
	'java_comment_task_tag=214,142,88'
	'java_comment_task_tag_bold=false'
	'java_comment_task_tag_italic=true'
	'java_default=206,209,209'
	'java_doc_default=125,140,147'
	'java_doc_keyword=127,127,127'
	'java_doc_link=125,140,147'
	'java_doc_tag=224,226,228'
	'java_keyword=206,209,209'
	'java_keyword_bold=true'
	'java_keyword_return=206,209,209'
	'java_keyword_return_bold=true'
	'java_multi_line_comment=125,140,147'
	'java_operator=206,209,209'
	'java_single_line_comment=125,140,147'
	'java_string=214,142,88'
	'pf_coloring_argument=147,199,99'
	'pf_coloring_assignment=224,226,228'
	'pf_coloring_comment=125,140,147'
	'pf_coloring_key=224,226,228'
	'pf_coloring_value=236,118,0'
	'semanticHighlighting.abstractMethodInvocation.color=206,209,209'
	'semanticHighlighting.abstractMethodInvocation.enabled=true'
	'semanticHighlighting.abstractMethodInvocation.italic=true'
	'semanticHighlighting.annotation.color=206,209,209'
	'semanticHighlighting.annotation.enabled=true'
	'semanticHighlighting.annotation.italic=true'
	'semanticHighlighting.class.color=206,209,209'
	'semanticHighlighting.class.enabled=true'
	'semanticHighlighting.deprecatedMember.color=206,209,209'
	'semanticHighlighting.deprecatedMember.enabled=true'
	'semanticHighlighting.enum.color=206,209,209'
	'semanticHighlighting.enum.enabled=true'
	'semanticHighlighting.field.color=206,209,209'
	'semanticHighlighting.field.enabled=true'
	'semanticHighlighting.inheritedMethodInvocation.color=206,209,209'
	'semanticHighlighting.inheritedMethodInvocation.enabled=true'
	'semanticHighlighting.interface.color=206,209,209'
	'semanticHighlighting.interface.enabled=true'
	'semanticHighlighting.localVariable.color=206,209,209'
	'semanticHighlighting.localVariable.enabled=true'
	'semanticHighlighting.localVariableDeclaration.color=206,209,209'
	'semanticHighlighting.localVariableDeclaration.enabled=true'
	'semanticHighlighting.method.color=206,209,209'
	'semanticHighlighting.method.enabled=true'
	'semanticHighlighting.methodDeclarationName.bold=false'
	'semanticHighlighting.methodDeclarationName.color=206,209,209'
	'semanticHighlighting.methodDeclarationName.enabled=true'
	'semanticHighlighting.number.color=214,142,88'
	'semanticHighlighting.number.enabled=true'
	'semanticHighlighting.parameterVariable.color=206,209,209'
	'semanticHighlighting.parameterVariable.enabled=true'
	'semanticHighlighting.staticField.color=206,209,209'
	'semanticHighlighting.staticField.enabled=true'
	'semanticHighlighting.staticFinalField.color=206,209,209'
	'semanticHighlighting.staticFinalField.enabled=true'
	'semanticHighlighting.staticMethodInvocation.color=206,209,209'
	'semanticHighlighting.staticMethodInvocation.enabled=true'
	'semanticHighlighting.typeArgument.color=206,209,209'
	'semanticHighlighting.typeArgument.enabled=true'
	'semanticHighlighting.typeParameter.color=206,209,209'
	'semanticHighlighting.typeParameter.enabled=true'
    'sourceHoverBackgroundColor=255,255,255'
}

IEclipsePreferences#org-eclipse-ui-editors {
  preferences:
	'AbstractTextEditor.Color.Background=38,41,44'
	'AbstractTextEditor.Color.Background.SystemDefault=false'
	'AbstractTextEditor.Color.FindScope=224,226,228'
	'AbstractTextEditor.Color.Foreground=207,211,191'
	'AbstractTextEditor.Color.Foreground.SystemDefault=false'
	'AbstractTextEditor.Color.SelectionBackground=207,211,191'
	'AbstractTextEditor.Color.SelectionBackground.SystemDefault=false'
	'AbstractTextEditor.Color.SelectionForeground=38,41,44'
	'AbstractTextEditor.Color.SelectionForeground.SystemDefault=false'
	'additionIndicationColor=0,184,212'
	'additionIndicationInOverviewRuler=true'
	'asOccurencesIndicationColor=97,97,97'
	'changeIndicationColor=255,193,7'
	'changeIndicationInOverviewRuler=true'
	'currentIPColor=0,19,47'
	'currentLineColor=11,11,12'
	'deletionIndicationColor=224,226,228'
	'deletionIndicationInOverviewRuler=true'
	'eclipse.preferences.version=1'
	'filteredSearchResultIndicationColor=97,97,97'
	'fullcoverage_color=9,105,9'
	'fullcoverage_stylePreferences=NONE'
	'fullcoverage_text=false'
	'hyperlinkColor=173,216,230'
	'hyperlinkColor.SystemDefault=false'
	'lineNumberColor=129,150,154'
	'lineNumberRuler=true'
	'matchingTagIndicationColor=97,97,97'
	'nocoverage_color=144,12,12'
	'nocoverage_stylePreferences=NONE'
	'nocoverage_text=false'
	'occurrenceIndicationColor=117,117,117'
	'org.sonar.ide.eclipse.ui.issue.color=255,245,157'
	'org.sonar.ide.eclipse.ui.newissue.color=98,88,0'
	'org.sonar.ide.eclipse.ui.newissue.error.text=false'
	'org.sonar.ide.eclipse.ui.newissue.text.style=NONE'
	'partialcoverage_color=156,156,1'
	'partialcoverage_stylePreferences=NONE'
	'partialcoverage_text=false'
	'printMargin=true'
	'printMarginColor=129,150,154'
	'searchResultIndicationColor=97,97,97'
	'secondaryIPColor=0,19,47'
	'writeOccurrenceIndicationColor=117,117,117'
}

IEclipsePreferences#org-eclipse-ui-workbench {
  preferences:
      'org.eclipse.mylyn.tasks.ui.colors.category.gradient.end=237,237,237'
      'org.eclipse.mylyn.tasks.ui.colors.category.gradient.start=237,237,237'
      'INCOMING_COLOR=3,173,222'
      'OUTGOING_COLOR=210,138,4'
      'RESOLVED_COLOR=0,176,0'
      'CONFLICTING_COLOR=204,0,0'
}

IEclipsePreferences#org-eclipse-wst-xml-ui {
  preferences:
	'cdataBorder=#cfd3bf | null | true | false | false | false'
	'cdataText=#cfd3bf | null | false | false | false | false'
	'commentBorder=#7D8C93 | null | null | null | null | null'
	'commentText=#7d8c93 | null | false | false | false | false'
	'declBoder=#cfd3bf | null | false | false | false | false'
	'declBorder=#678CB1 | null | null | null | null | null'
	'doctypeExternalId=#cfd3bf | null | false | false | false | false'
	'doctypeExternalPubref=#cfd3bf | null | false | false | false | false'
	'doctypeExtrenalSysref=#cfd3bf | null | false | false | false | false'
	'doctypeName=#cfd3bf | null | false | false | false | false'
	'entityReference=#d68e58 | null | false | false | false | false'
	'piBorder=#d68e58 | null | false | false | false | false'
	'piContent=#d68e58 | null | false | false | false | false'
	'tagAttributeEquals=#cfd3bf | null | false | false | false | false'
	'tagAttributeName=#cfd3bf | null | false | true | false | false'
	'tagAttributeValue=#EC7600 | null | null | null | null | null'
	'tagBorder=#cfd3bf | null | false | false | false | false'
	'tagName=#cfd3bf | null | false | false | false | false'
	'xmlContent=#cfd3bf | null | false | false | false | false'
}

IEclipsePreferences#org-eclipse-e4-tools-css-editor-ui {
	preferences:
		'syntaxColorer.Declaration.color=206,209,209'
		'syntaxColorer.Element.color=206,209,209'
		'syntaxColorer.ClassID.color=206,209,209'
		'syntaxColorer.ClassID.style=1'
		'syntaxColorer.Url.color=214,142,88'
		'syntaxColorer.Url.style=1073741824'
		'syntaxColorer.comment.color=125,140,147'
		'syntaxColorer.default.color=206,209,209'
		'syntaxColorer.error.color=206,209,209'
		'syntaxColorer.error.style=536870912'
		'syntaxColorer.number.color=214,142,88'
		'syntaxColorer.punctuation.color=206,209,209'
		'syntaxColorer.string.color=214,142,88'
}

IEclipsePreferences#org-eclipse-fx-ide-css-CssDsl {
	preferences:
	'syntaxColorer.tokenStyles.DeclarationName.color=206,209,209'
	'syntaxColorer.tokenStyles.ELEMENT.color=206,209,209'
	'syntaxColorer.tokenStyles.Function.color=206,209,209'
	'syntaxColorer.tokenStyles.Selector.color=206,209,209'
	'syntaxColorer.tokenStyles.Selector.style=1'
	'syntaxColorer.tokenStyles.Url.color=214,142,88'
	'syntaxColorer.tokenStyles.Url.style=1073741824'
	'syntaxColorer.tokenStyles.comment.color=125,140,147'
	'syntaxColorer.tokenStyles.default.color=206,209,209'
	'syntaxColorer.tokenStyles.error.color=206,209,209'
	'syntaxColorer.tokenStyles.error.style=536870912'
	'syntaxColorer.tokenStyles.number.color=214,142,88'
	'syntaxColorer.tokenStyles.punctuation.color=206,209,209'
	'syntaxColorer.tokenStyles.string.color=214,142,88'
}

IEclipsePreferences#org-eclipse-xtend-ide {
	preferences:
		'syntaxColorer.tokenStyles.default.color=206,209,209'
		'syntaxColorer.tokenStyles.error.color=206,209,209'
		'syntaxColorer.tokenStyles.keyword.color=206,209,209'
		'syntaxColorer.tokenStyles.number.color=214,142,88'
		'syntaxColorer.tokenStyles.punctuation.color=206,209,209'
		'syntaxColorer.tokenStyles.string.color=214,142,88'
		'syntaxColorer.tokenStyles.task.color=214,142,88'
		'syntaxColorer.tokenStyles.task.style=2'
		'syntaxColorer.tokenStyles.xbase.annotation.color=206,209,209'
		'syntaxColorer.tokenStyles.xbase.deprecated.members.color=206,209,209'
		'syntaxColorer.tokenStyles.xbase.extension.method.invacation.color=206,209,209'
		'syntaxColorer.tokenStyles.xbase.extension.method.invacation.style=3'
		'syntaxColorer.tokenStyles.xbase.field.color=206,209,209'
		'syntaxColorer.tokenStyles.xbase.static.field.color=206,209,209'
		'syntaxColorer.tokenStyles.xbase.static.method.invocation.color=206,209,209'
		'syntaxColorer.tokenStyles.xtend.active.annotation.color=206,209,209'
		'syntaxColorer.tokenStyles.xtend.insignificant.template.text.color=214,142,88'
		'syntaxColorer.tokenStyles.xtend.insignificant.template.text.style=2'
		'syntaxColorer.tokenStyles.xtend.potential.line.break.color=206,209,209'
		'syntaxColorer.tokenStyles.xtend.richText.color=214,142,88'
		'syntaxColorer.tokenStyles.xtend.richText.delimiter.color=214,142,88'
		'syntaxColorer.tokenStyles.xtend.richText.delimiter.style=2'
		'syntaxColorer.tokenStyles.xtend.richText.style=2'
		'syntaxColorer.tokenStyles.xtend.template.line.break.color=214,142,88'
		'syntaxColorer.tokenStyles.xtend.template.line.break.style=2'
}

IEclipsePreferences#org-eclipse-xtext-xtext-ui {
	preferences:
		'syntaxColorer.tokenStyles.DataTypeIndicator.color=229,229,229'
		'syntaxColorer.tokenStyles.NeverCalledRule.color=206,209,209'
		'syntaxColorer.tokenStyles.NeverCalledRule.style=536870912'
		'syntaxColorer.tokenStyles.RuleDeclaration.color=206,209,209'
		'syntaxColorer.tokenStyles.SpecialFeature.color=229,229,229'
		'syntaxColorer.tokenStyles.TypeReference.color=206,209,209'
		'syntaxColorer.tokenStyles.UnusedValue.color=206,209,209'
		'syntaxColorer.tokenStyles.UnusedValue.style=536870912'
		'syntaxColorer.tokenStyles.default.color=206,209,209'
		'syntaxColorer.tokenStyles.error.color=206,209,209'
		'syntaxColorer.tokenStyles.keyword.color=206,209,209'
		'syntaxColorer.tokenStyles.number.color=214,142,88'
		'syntaxColorer.tokenStyles.punctuation.color=206,209,209'
		'syntaxColorer.tokenStyles.string.color=214,142,88'
		'syntaxColorer.tokenStyles.task.color=206,209,209'
		'syntaxColorer.tokenStyles.task.style=2'
}

IEclipsePreferences#org-eclipse-pde-ui {
	preferences:
		'editor.color.default=224,226,228'
		'editor.color.externalized_string=160,130,189'
		'editor.color.externalized_string_bold=true'
		'editor.color.header_assignment=224,226,228'
		'editor.color.header_attributes=236,188,0'
		'editor.color.header_key=160,130,189'
		'editor.color.header_osgi=160,130,189'
		'editor.color.header_value=224,226,228'
		'editor.color.instr=125,140,147'
		'editor.color.string=236,188,0'
		'editor.color.tag=224,226,228'
		'editor.color.xml_comment=125,140,147'
}

IEclipsePreferences#org-eclipse-debug-ui {
  preferences:
	'org.eclipse.debug.ui.errorColor=183,28,28'
	'org.eclipse.debug.ui.inColor=51,105,30'
	'org.eclipse.debug.ui.outColor=0,0,0'
}
