IEclipsePreferences#org-eclipse-jdt-ui {
  preferences:
    'content_assist_proposals_background=252,252,252'
    'content_assist_proposals_foreground=49,54,59'
    'java_bracket=232,226,183'
    'java_comment_task_tag=255,139,255'
    'java_default=224,226,228'
    'java_doc_default=125,140,147'
    'java_doc_keyword=160,130,189'
    'java_doc_link=103,140,177'
    'java_doc_tag=224,226,228'
    'java_keyword=147,199,99'
    'java_keyword_bold=false'
    'java_keyword_return=147,199,99'
    'java_keyword_return_bold=false'
    'java_multi_line_comment=125,140,147'
    'java_operator=232,226,183'
    'java_single_line_comment=125,140,147'
    'java_string=236,118,0'
    'pf_coloring_argument=147,199,99'
    'pf_coloring_assignment=224,226,228'
    'pf_coloring_comment=125,140,147'
    'pf_coloring_key=224,226,228'
    'pf_coloring_value=236,118,0'
    'semanticHighlighting.abstractMethodInvocation.color=224,226,228'
    'semanticHighlighting.abstractMethodInvocation.enabled=true'
    'semanticHighlighting.annotation.color=160,130,189'
    'semanticHighlighting.annotation.enabled=true'
    'semanticHighlighting.class.color=103,140,177'
    'semanticHighlighting.class.enabled=true'
    'semanticHighlighting.deprecatedMember.color=224,226,228'
    'semanticHighlighting.deprecatedMember.enabled=true'
    'semanticHighlighting.enum.color=224,226,228'
    'semanticHighlighting.enum.enabled=true'
    'semanticHighlighting.field.color=103,140,177'
    'semanticHighlighting.field.enabled=true'
    'semanticHighlighting.inheritedMethodInvocation.color=224,226,228'
    'semanticHighlighting.inheritedMethodInvocation.enabled=true'
    'semanticHighlighting.interface.color=103,140,177'
    'semanticHighlighting.interface.enabled=true'
    'semanticHighlighting.localVariable.color=224,226,228'
    'semanticHighlighting.localVariable.enabled=true'
    'semanticHighlighting.localVariableDeclaration.color=224,226,228'
    'semanticHighlighting.localVariableDeclaration.enabled=true'
    'semanticHighlighting.method.color=103,140,177'
    'semanticHighlighting.method.enabled=true'
    'semanticHighlighting.methodDeclarationName.color=232,226,183'
    'semanticHighlighting.methodDeclarationName.enabled=true'
    'semanticHighlighting.number.color=255,205,34'
    'semanticHighlighting.number.enabled=true'
    'semanticHighlighting.parameterVariable.color=224,226,228'
    'semanticHighlighting.parameterVariable.enabled=true'
    'semanticHighlighting.staticField.color=103,140,177'
    'semanticHighlighting.staticField.enabled=true'
    'semanticHighlighting.staticFinalField.color=224,226,228'
    'semanticHighlighting.staticFinalField.enabled=true'
    'semanticHighlighting.staticMethodInvocation.color=224,226,228'
    'semanticHighlighting.staticMethodInvocation.enabled=true'
    'semanticHighlighting.typeArgument.color=224,226,228'
    'semanticHighlighting.typeArgument.enabled=true'
    'semanticHighlighting.typeParameter.color=224,226,228'
    'semanticHighlighting.typeParameter.enabled=true'
    'sourceHoverBackgroundColor=255,255,255'
}

IEclipsePreferences#org-eclipse-ui-editors {
  preferences:
    'AbstractTextEditor.Color.Background=41,49,52'
    'AbstractTextEditor.Color.Background.SystemDefault=false'
    'AbstractTextEditor.Color.FindScope=224,226,228'
    'AbstractTextEditor.Color.Foreground=224,226,228'
    'AbstractTextEditor.Color.Foreground.SystemDefault=false'
    'AbstractTextEditor.Color.SelectionBackground=128,64,0'
    'AbstractTextEditor.Color.SelectionBackground.SystemDefault=false'
    'AbstractTextEditor.Color.SelectionForeground=224,226,228'
    'AbstractTextEditor.Color.SelectionForeground.SystemDefault=false'
    'asOccurencesIndicationColor=97,97,97'
    'currentIPColor=80,80,1'
    'currentLineColor=47,57,60'
    'deletionIndicationColor=224,226,228'
    'filteredSearchResultIndicationColor=97,97,97'
    'lineNumberColor=129,150,154'
    'lineNumberRuler=true'
    'matchingTagIndicationColor=97,97,97'
    'occurrenceIndicationColor=80,80,1'
    'printMargin=true'
    'printMarginColor=129,150,154'
    'searchResultIndicationColor=97,97,97'
    'secondaryIPColor=80,80,1'
    'writeOccurrenceIndicationColor=0,78,60'
    'nocoverage_color=144,12,12'
    'nocoverage_stylePreferences=NONE'
    'nocoverage_text=false'
    'partialcoverage_color=156,156,1'
    'partialcoverage_stylePreferences=NONE'
    'partialcoverage_text=false'
    'fullcoverage_color=9,105,9'
    'fullcoverage_stylePreferences=NONE'
    'fullcoverage_text=false'
    'deletionIndicationColor=189,189,189'
    'deletionIndicationInOverviewRuler=true'
    'additionIndicationColor=0,184,212'
    'additionIndicationInOverviewRuler=true'
    'changeIndicationColor=255,193,7'
    'changeIndicationInOverviewRuler=true'
}

IEclipsePreferences#org-eclipse-ui-workbench {
  preferences:
      'org.eclipse.mylyn.tasks.ui.colors.category.gradient.end=237,237,237'
      'org.eclipse.mylyn.tasks.ui.colors.category.gradient.start=237,237,237'
}
