<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <stylesheet
            uri="css/light-ext/syntax.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_default">
         </themeid>
      </stylesheet>
      <stylesheet
            uri="css/dark-ext/dark-ext.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_dark">
         </themeid>
      </stylesheet>
      <stylesheet
            uri="css/dark-ext/syntax.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_dark">
         </themeid>
      </stylesheet>
      <stylesheet
            uri="css/light-ext/light-ext.css">
         <themeid
               refid="org.eclipse.e4.ui.css.theme.e4_default">
         </themeid>
      </stylesheet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.gap.eclipse.themes.PluginStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Views"
            class="org.gap.eclipse.themes.pref.CustomizeThemePage"
            id="org.gap.eclipse.themes.customizeTheme"
            name="Customize Theme">
      </page>
   </extension>
</plugin>
