<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/mdark/dark.css"
            id="org.gap.eclipse.themes.material-dark"
            label="Material Dark">
      </theme>
      <stylesheet
            uri="css/mdark/syntax.css">
         <themeid
               refid="org.gap.eclipse.themes.material-dark">
         </themeid>
         <osgiresourcelocator
               uri="platform:/plugin/org.gap.eclipse.themes/images/">
         </osgiresourcelocator>
      </stylesheet>
      <theme
            basestylesheeturi="css/mlight/light.css"
            id="org.gap.eclipse.themes.material-light"
            label="Material Light">
      </theme>
      <stylesheet
            uri="css/mlight/syntax.css">
         <themeid
               refid="org.gap.eclipse.themes.material-light">
         </themeid>
         <osgiresourcelocator
               uri="platform:/plugin/org.gap.eclipse.themes/images/">
         </osgiresourcelocator>
      </stylesheet>
      <theme
            basestylesheeturi="css/mdark/dark.css"
            id="org.gap.eclipse.themes.material-dark-bw"
            label="Material Dark Black &amp; White">
      </theme>
      <stylesheet
            uri="css/mdark/syntax-bw.css">
         <themeid
               refid="org.gap.eclipse.themes.material-dark-bw">
         </themeid>
         <osgiresourcelocator
               uri="platform:/plugin/org.gap.eclipse.themes/images/">
         </osgiresourcelocator>
      </stylesheet>
      <theme
            basestylesheeturi="css/paperwhite/paper-white.css"
            id="org.gap.eclipse.themes.paper-white"
            label="Paper White">
      </theme>
      <stylesheet
            uri="css/paperwhite/syntax.css">
         <themeid
               refid="org.gap.eclipse.themes.paper-white">
         </themeid>
      </stylesheet>
      <theme
            basestylesheeturi="css/paperdark/paper-dark.css"
            id="org.gap.eclipse.themes.paper-dark"
            label="Paper Dark">
      </theme>
      <stylesheet
            uri="css/paperdark/syntax.css">
         <themeid
               refid="org.gap.eclipse.themes.paper-dark">
         </themeid>
      </stylesheet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.gap.eclipse.themes.PluginStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.ui.preferencePages.Views"
            class="org.gap.eclipse.themes.pref.CustomizeThemePage"
            id="org.gap.eclipse.themes.customizeTheme"
            name="Customize Theme">
      </page>
   </extension>
</plugin>
