<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/vscode/vscode-light-mac.css"
            id="org.gap.themes.vscode.light"
            label="VSCode Light"
            os="macosx">
      </theme>
      <theme
            basestylesheeturi="css/vscode/vscode-light-win.css"
            id="org.gap.themes.vscode.light"
            label="VSCode Light"
            os="win32">
      </theme>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            handler="org.gap.eclipse.themes.e4.renders.swt.CssPropertySelectedTabHighlightThickness">
         <property-name
               name="swt-selected-tab-highlight-thickness">
         </property-name>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            id="org.gap.themes.vscode"
            label="VSCode">
      </themeElementCategory>
   </extension>
</plugin>
