.MPartStack {
	swt-tab-renderer: url('bundleclass://org.gap.eclipse.themes/org.gap.eclipse.themes.Renderer');
    swt-shadow-visible: false;
    swt-mru-visible: true;
    swt-corner-radius: 6px;
	swt-simple: true;
	selected-border-color: #00ffff;
}


.MPartStack.active > CTabItem:selected,
.MPartStack.active > CTabItem:selected CLabel {
	color: #00ffff;
}

