
IEclipsePreferences#org-eclipse-jdt-ui {
    preferences:
        'content_assist_proposals_background=252,252,25'
        'content_assist_proposals_background=252,252,252'
        'content_assist_proposals_foreground=49,54,59'
        'java_bracket=68,68,68'
        'java_comment_task_tag=23,96,143'
        'java_default=104,128,70'
        'java_doc_default=5,49,77'
        'java_doc_keyword=204,147,147'
        'java_doc_link=5,49,77'
        'java_doc_tag=5,49,77'
        'java_keyword=104,128,70'
        'java_keyword_bold=false'
        'java_keyword_return=104,128,70'
        'java_keyword_return_bold=false'
        'java_multi_line_comment=23,96,143'
        'java_operator=0,0,0'
        'java_single_line_comment=23,96,143'
        'java_string=146,103,154'
        'pf_coloring_argument=0,0,0'
        'pf_coloring_assignment=0,0,0'
        'pf_coloring_comment=23,96,143'
        'pf_coloring_key=104,128,70'
        'pf_coloring_value=146,103,154'
        'semanticHighlighting.abstractMethodInvocation.color=68,68,68'
        'semanticHighlighting.abstractMethodInvocation.enabled=true'
        'semanticHighlighting.annotation.color=128,128,128'
        'semanticHighlighting.annotation.enabled=true'
        'semanticHighlighting.class.color=55,85,13'
        'semanticHighlighting.class.enabled=true'
        'semanticHighlighting.deprecatedMember.color=171,37,37'
        'semanticHighlighting.deprecatedMember.enabled=true'
        'semanticHighlighting.enum.color=136,93,59'
        'semanticHighlighting.enum.enabled=true'
        'semanticHighlighting.field.color=86,104,116'
        'semanticHighlighting.field.enabled=true'
        'semanticHighlighting.inheritedMethodInvocation.color=44,87,124'
        'semanticHighlighting.inheritedMethodInvocation.enabled=true'
        'semanticHighlighting.interface.color=155,86,86'
        'semanticHighlighting.interface.enabled=true'
        'semanticHighlighting.localVariable.color=92,129,152'
        'semanticHighlighting.localVariable.enabled=true'
        'semanticHighlighting.localVariableDeclaration.color=92,129,152'
        'semanticHighlighting.localVariableDeclaration.enabled=true'
        'semanticHighlighting.method.color=68,68,68'
        'semanticHighlighting.method.enabled=true'
        'semanticHighlighting.methodDeclarationName.color=34,34,34'
        'semanticHighlighting.methodDeclarationName.bold=false'
        'semanticHighlighting.methodDeclarationName.enabled=true'
        'semanticHighlighting.number.color=128,31,145'
        'semanticHighlighting.number.enabled=true'
        'semanticHighlighting.parameterVariable.color=92,129,152'
        'semanticHighlighting.parameterVariable.enabled=true'
        'semanticHighlighting.staticField.color=136,93,59'
        'semanticHighlighting.staticField.enabled=true'
        'semanticHighlighting.staticFinalField.color=136,93,59'
        'semanticHighlighting.staticFinalField.enabled=true'
        'semanticHighlighting.staticMethodInvocation.color=196,196,183'
        'semanticHighlighting.staticMethodInvocation.enabled=true'
        'semanticHighlighting.typeArgument.color=136,93,59'
        'semanticHighlighting.typeArgument.enabled=true'
        'semanticHighlighting.typeParameter.color=136,93,59'
        'semanticHighlighting.typeParameter.enabled=true'
        'sourceHoverBackgroundColor=238,238,238'
}

IEclipsePreferences#org-eclipse-ui-editors {
  preferences:
    'AbstractTextEditor.Color.Background=255,255,255'
    'AbstractTextEditor.Color.Background.SystemDefault=false'
    'AbstractTextEditor.Color.FindScope=188,173,173'
    'AbstractTextEditor.Color.Foreground=0,0,0'
    'AbstractTextEditor.Color.Foreground.SystemDefault=false'
    'AbstractTextEditor.Color.SelectionBackground=238,238,238'
    'AbstractTextEditor.Color.SelectionBackground.SystemDefault=false'
    'AbstractTextEditor.Color.SelectionForeground=0,0,0'
    'AbstractTextEditor.Color.SelectionForeground.SystemDefault=false'
    'asOccurencesIndicationColor=239,239,239'
    'currentIPColor=188,173,173'
    'currentLineColor=238,238,238'
    'deletionIndicationColor=155,86,86'
    'filteredSearchResultIndicationColor=239,239,239'
    'lineNumberColor=97,97,97'
    'lineNumberRuler=true'
    'matchingTagIndicationColor=239,239,239'
    'occurrenceIndicationColor=239,239,239'
    'printMargin=true'
    'printMarginColor=97,97,97'
    'searchResultIndicationColor=239,239,239'
    'secondaryIPColor=188,173,173'
    'writeOccurrenceIndicationColor=239,239,239'
    'nocoverage_color=248,165,165'
    'nocoverage_stylePreferences=NONE'
    'nocoverage_text=false'
    'partialcoverage_color=252,252,168'
    'partialcoverage_stylePreferences=NONE'
    'partialcoverage_text=false'
    'fullcoverage_color=138,255,138'
    'fullcoverage_stylePreferences=NONE'
    'fullcoverage_text=false'
    'deletionIndicationColor=33,33,33'
    'deletionIndicationInOverviewRuler=true'
    'additionIndicationColor=0,184,212'
    'additionIndicationInOverviewRuler=true'
    'changeIndicationColor=255,193,7'
    'changeIndicationInOverviewRuler=true'
}

IEclipsePreferences#org-eclipse-ui-workbench {
  preferences:
      'org.eclipse.mylyn.tasks.ui.colors.category.gradient.end=237,237,237'
      'org.eclipse.mylyn.tasks.ui.colors.category.gradient.start=237,237,237'
}
